basedn: dc=example,dc=com
port: 1390
tcp_nodelay: true
preforked_threads: 10
bind_address: 127.0.0.1
debug: false
highrise_api_url: https://{{APIKEY}}:X@{{SUBDOMAIN}}.highrisehq.com/
# Use Ldap Simple Authentication, the folling values will be replaced with the ldap credentials
# {{SUBDOMAIN}} = Ldap Username
# {{APIKEY}} = Ldap Password